services:
  - type: web
    name: pglitev1
    env: node
    plan: free
    rootDir: server
    buildCommand: |
      cd .. 
      npm install
      npm run build
    startCommand: node server/dist/index.cjs
